@model GemeinschaftsBalkonWebApp01.Models.Pflanzen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pflanzen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.P_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Gepflanzt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Gepflanzt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Bluet_Von)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Bluet_Von)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Bluet_Bis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Bluet_Bis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Notiz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Notiz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Kauf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kauf.K_Shop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Schaedling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schaedling.S_Bez)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Standort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Standort.SO_Bez)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Topf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topf.T_Bez)
        </dd>

        <!--Label anzeigendes DisplaynameView   hier von User.U_Name > P_U_Besitzer -->
        <dt>
            @Html.DisplayNameFor(model => model.P_U_Besitzer)
        </dt>

        <!--Daten anzeigendes DisplaynameView-->
        <dd>
            @Html.DisplayFor(model => model.User.U_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.P_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


