@model IEnumerable<GemeinschaftsBalkonWebApp01.Models.User>

@{
    ViewBag.Title = "Index";
}

<br />

@if (ViewBag.admin == "ja")
{

    <h2>Index</h2>
    <h4>User</h4>
    <br />
    <p>
        @Html.ActionLink("Create New ?", "Create")
    </p>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.U_Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.U_PW)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.U_Admin)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.U_Name)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.U_PW)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.U_Admin)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.U_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.U_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.U_ID })
                </td>
            </tr>
        }

    </table>
}
else
{
    <h2>Nope !</h2>
    <br />
    <p>Dieser Einblick ist nur dem Admin gestattet!</p>
}